<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mikesu.horizontalexpcalendar">

    <application
        android:name=".HorizontalExpApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
